body{
    /* background-color: #d8bfd8; */
    background-image: url(C:\Users\ADMIN\Documents\GitHub\React_IRC\DAY3\sampleapp\src\Assets\project.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}
.login{
    height: 1.5cm;
    width: 3.5cm;
    float: right;
    border-radius: 10px;
    margin-right: .05cm;
    /* height: 0.5cm; */
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2); 
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}
.reg{
    background-image: url(C:\Users\ADMIN\Documents\GitHub\React_IRC\DAY3\sampleapp\src\Assets\project.jpg);
    height: 1.5cm;
    width: 3.5cm;
    float: right;
    border-radius: 10px;
    background-color: violet;
    margin-left: 0.5cm;
    background: #6190E8;
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); 
    background: linear-gradient(to right, #A7BFE8, #6190E8); 
}
.username{
    float: right;
    margin-left: red;
}
.footer{
    display: flex;
    height: 750px;
    width: 1500px;
    border: 1px solid;
    flex-direction: column;  
    justify-content: space-between;
}
.log{
    border-radius: 10px;
}

.d1{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: transparent;
}